# Ignore all __pycache__ folders and their contents
__pycache__/

# Ignore all .pyc files
*.pyc


postgres_dump.sql
GStandaard.sqlite
csv/afschrijvingen_geert.csv
prod.env
*.pyc
/csv/gstandaard
csv/vacatures_geert.csv
